.App {
  text-align: center;
}
table{
  margin-left:40%;
}
th,td{
  border: solid black 1px;
}
.main{
  display: flex;
  justify-content: center;
}
.button{
  margin-top: 8%;
}
.group{
  border: solid black 3px;
}

/* MoveItem Compnant css */
.row{
  display: flex;
 column-gap: 4%;
}
.container{
  /* text-align: center; */
  margin-left: 39%;
}
.column2{
  margin-top: -3%;
}
/* Username list task styling */
.liTask4{
  padding: 10px;
  border: solid black 1px;
  margin-left: 40%;
  margin-right: 40%;
  list-style: none;
}
.btnCross4{
  float: right;
  border-style: none;
}